$title-color: #000;
$subtitle-color: #333;
$text-color: #666;
$tips-color: #999;

$white-color: white;
$primary-color: #3867d6;
$sub-color: #2d98da;

$pd-xs: 2px;
$pd-s: 4px;
$pd-m: 8px;
$pd-l: 12px;
$pd-xl: 16px;
$pd-2xl: 24px;
$pd-3xl: 32px;

$ft-xs: 12px;
$ft-s: 14px;
$ft-m: 16px;
$ft-l: 20px;
$ft-xl: 24px;
$ft-2xl: 28px;